.table-card {
  flex-basis: calc(50% - 2rem);
  margin: 1rem;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
  text-align: left;
}

.not-submitted {
  background-color: rgba(255, 0, 0, 0.068);
}

.NTI {
  background-color: rgba(255, 0, 0, 0.17);
}

.grade-table-header {
  background: white;
  border: none;
}

.grade-table-header th {
  border: none;
  position: sticky;
  top: -180px;
}

.table-header-rotate {
  height: 300px;
  white-space: nowrap;
}

.table-header-rotate > div {
  transform: rotate(270deg);
  width: 2.5rem;
}

.grade-table-row td {
  height: 3rem;
}
