.table-card {
  flex-basis: calc(50% - 2rem);
  margin: 1rem;
}

.not-submitted {
  background-color: rgba(255, 0, 0, 0.068);
}

.NTI {
  background-color: rgba(255, 0, 0, 0.17);
}

.not-required {
  background-color: rgb(3, 141, 7) !important;
}

.grade-table-header th {
  position: sticky;
  top: -180px;
}

.table-header-rotate {
  height: 300px;
  white-space: nowrap;
}

.table-header-rotate > div {
  /* overflow: hidden; */
  transform: rotate(270deg);
  max-width: 2.5rem;
  padding-left: 0.5rem;
}

.grade-table-row td {
  height: 3rem;
}
